@charset "UTF-8";

/* em HTML é id = em CSS é #
em HTML é call = em CSS é .
*/
body {
    background-color: #F5CD20;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color: #4547B5;
}
h1#principal {
    text-align: center;
    background-color: #A0904A;
    color: white;
}
.basico {
    color: #A0904A;
}
.intermediario {
    color: white;
}
.avancado {
    color: #afad29;
}

h2 {
    color: #695707;
}
.destaque {
    background-color: black;
}

